<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

<th:block layout:fragment="content">

  <!-- Begin Page Content -->
  <main class="form-signup">
    <div class="mb-3">
      <div class="form-signup pb-3 text-left">
        <h1 class="h3 title" style="font-size:20px;">
          <strong class="highLight">기본 정보</strong>
          를<br/>등록할게요
        </h1>
        <p>
          로그인에 사용하실 정보를 입력하세요
        </p>
      </div>

      <form class="p-3" onsubmit="return false;">
        <div id="emailForm" class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="name@example.com" th:value="${ss_uuid_data.getEmail()}" disabled>
          <label for="email">이메일 주소</label>
          <small id="emailHelp" class="form-text text-muted text-left">인증된 이메일입니다</small>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">비밀번호</label>
          <small id="passwordHelp" class="form-text text-muted text-left">패스워드는 영어, 숫자, 특수문자의 조합으로 8자 이상만 가능합니다</small>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="passwordConfirm" placeholder="Password Confirm">
          <label for="passwordConfirm">비밀번호 확인</label>
          <small id="passwordConfirmHelp" class="form-text text-muted text-left">비밀번호를 한번 더 입력해주세요</small>
        </div>

        <button type="button" id="btn-signup-pre-step2" class="btn btn-primary btn-lg btn-block">다음</button>

      </form>

    </div>


  </main>

  <!-- Page level custom scripts -->
  <script th:src="@{/js/signupStep2.js}" th:inline="javascript"></script>

  <!-- Page Access Deny Alert -->
  <div th:if="${deny} != null and ${deny} == true">
    <script>
      $(document).ready(function () {
        bootbox.alert({
          size: "small",
          title: "알림",
          message: `잘못된 접근이거나 만료된 페이지입니다`,
          callback: function () {
            let loc = document.querySelector("#web-signin").getAttribute("data-contextPath");
            return window.location.replace(loc);
          }
        });
      });
    </script>
  </div>

</th:block>

</html>