.form-signup {
    width: 100%;
    max-width: 470px;
    padding: 15px;
    margin: auto;
}

.form-signup .checkbox {
    font-weight: 400;
}

.form-signup .form-signup-logo{
    padding: 15px;
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

.form-signup .form-floating-flex{
    display: inline-flex;
    text-align: center;
}

.form-signup .form-floating-radio{
    display: flex;
    text-align: center;
}


.form-signup .form-floating-flex .flex-input{
    text-align: center;
    padding: 0;
}

.form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.main {
    display: block;
}

.title{
    font-size: 24px;
    line-height: 28px;
    color: #000;
}
.title .highLight{
    font-size: 24px;
    line-height: 28px;
    color: #067DFD;
}

/*
    HTML Input Number Allow Hide
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.a-tag-left{
    position: absolute;
    top: 0;
    right: 0;
}