<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

<th:block layout:fragment="content">

    <!-- Begin Page Content -->
    <main class="form-signup">
        <div class="mb-3">
            <div class="form-signup pb-5 text-left">
                <h1 class="h3 title" style="font-size:20px;">
                    <strong class="highLight">Company</strong>
                    에 오신 것을 <br/>
                    환영해요
                </h1>
                <p>
                    지금 회원 가입 하신 후
                    <br/>다채로운 서비스를 만나보세요!
                </p>
            </div>

            <form class="pb-3" onsubmit="return false;">
                <button type="button" class="btn btn-primary btn-lg btn-block btn-signup-step1">가입하기</button>
            </form>

        </div>


    </main>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/signupStep1.js}" th:inline="javascript"></script>

</th:block>

</html>