<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">

<th:block layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="row-12">
<!--            안녕하세요. 테스트 문자열입니다.-->
    </div>
    <main class="form-signin">
        <form>
<!--            <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
<!--            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>-->

<!--            <div class="form-floating">-->
<!--                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">-->
<!--                <label for="floatingInput">Email address</label>-->
<!--            </div>-->
<!--            <div class="form-floating">-->
<!--                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
<!--                <label for="floatingPassword">Password</label>-->
<!--            </div>-->

<!--            <div class="checkbox mb-3">-->
<!--                <label>-->
<!--                    <input type="checkbox" value="remember-me"> Remember me-->
<!--                </label>-->
<!--            </div>-->
<!--            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>-->
        </form>
    </main>
</th:block>

</html>